body {
    background-image: linear-gradient(#fff, #E0F1CE);
}

header, .content {
    margin: 0; padding: 50px 100px 0 100px; border: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 30px;
    font-weight: bold;
}

.rightHeader {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    list-style-type: none;
}

.rightHeader li {
    margin: 5px;
    font-weight: 500;
    font-size: 15px;
}

.freeButton {
    padding: 20px;
    display: flex;
}

.freeButton li {
    padding: 20px;
}

.freeButton #on {
    font-weight: bold;
    color: #93D250;
}

.freeButton li a {
    color: #181818;
    text-decoration: none;
}

.freeButton li a:hover {
    color: #93D250;
}

.borderedButton {
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.borderedButton li {
    align-items: center;
}

.borderedButton li a {
    border: 1.5px solid #93D250;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
}

#signUp {
    align-items: center;
}

#signUp a {
    padding: 10px 30px;
    color: #181818;
}

#signIn {
    align-items: center;
}

#signIn a {
    padding: 10px 34px;
    color: #fff;
    background-color: #93D250;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

#image img {
    width: 170%;
    object-fit: cover;
    position: relative;
    right: 70px;
}

.leftContent {
    padding-right: 50px;
    left: 0px;
}

#title {
    font-size: 60px;
    font-weight: bold;
    margin-left: 130px;
    width: 600px;
}

#description {
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    margin-left: 130px;
    width: 450px;
}

#button {
    align-items: center;
    margin-left: 130px;
}

#button a {
    padding: 10px 34px;
    color: #fff;
    background-color: #93D250;
    text-decoration: none;
}

.rightContent {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.repairButton {
    padding: 25px 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.repairButton li {
    align-items: center;
}

.repairButton li a {
    border: 1.5px solid #93D250;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
}


footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #181818;
    width: 100%;
    height: 315px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}

.innerFooter {
    display: inline-flex;
    align-items: center;
}

#copyright {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    line-height: 35px;
}

.leftFooter {
    padding: 0 350px 0 0;
}

.rightFooter {
    padding: 0 0 0 350px;
    display: flex;
    list-style-type: none;
}

.rightFooter li {
    padding: 0 0 0 10px;
    filter: invert();
}
