.header{
    height: 150px;
    width: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

.headercontent{
    height: 100px;
    width: 75%;
    background-color: red;
}

.about{
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text1{
    height: 400px;
    width: 29%;
}
.image1 img{
    height: 600px;
}

.line2{
    font-size: 50px;
    font-weight: bold;
    color: #80bc3c;
}

.line1, .line3{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
}

.line5{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.line4{
    font-size: 20px;
    line-height: 1.8;
}

.line6{
    font-size: 25px;
}

.whyrm{
    height: 634px;
    left: 0px;
    text-align: center;
    background: linear-gradient(360deg, #E0F1CE 0%, rgba(224, 241, 206, 0) 100%);
}

.jualmarketres{
    height: 505px;
}

.jualmarketres{
    display: flex;
    justify-content: center;

}

.whyrmil{
    height: 370px;
    width: 270px;
    background-color: white;
    border-radius: 30px;
    margin: 16px;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.whyrmil img{
    height: 90px;
    width: 90px;
    margin: 30px;
}
